
*{margin: 0; padding: 0;}

html, body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-style: normal;
	overflow-x: hidden;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased !important;
	font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important; 
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	color: #fff;
}

h1{
	font-family: 'Montserrat', sans-serif;
	
}

h2{
	font-family: 'Kaushan Script', cursive;
}

p{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

hr{
	width: 60px;
	height: 3px !important;
	background: #fff;
	margin: 8% auto;
}


/*===========TOP===========*/
#top{
	background-image: url("../images/banner.jpg");
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	background-position: center;
	min-height: 1000px;
}

.navbar-brand{
	color: #fff !important;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: bold;
}

a.nav-link {
    color: #fff!important;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

li.nav-item {
    padding-right: 30px;
}

li.nav-item:hover a{
	color: #fce38a !important;
	border-bottom: 3px solid #fce38a;
}

.top-content{
	position: absolute;
	top: 20%;
	bottom: 0;
	left: 0;
	right: 0;
	width: 90%;
	height: 100%;
	margin: auto;
}

.top-content h2{
	font-size: 72px;
}

.top-content h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 150px;
	margin: 0 0;
	line-height: 130px;
}

.top-content button{
	background: transparent;
	border-radius: 0;
	border: 3px solid #fff;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 25px;
	text-transform: uppercase;
}

.slider-wrap{
	position: absolute;
	width: 100%;
	bottom:15%;
	left: 0;
}

.slider{
	width: 23%;
	text-align: left;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}

.slider span{
	font-weight: bold;
	margin-right: 5px;
	margin-top: 30px;
}

.slider .progress {
	height: 3px;
	width: 100%;
	background-color: #f7eac4;
}

.progress-bar{
	background-color: #f38181;
}

.slider-content{
	margin-top: 30px;
}


/*===========aboutUs===========*/

#aboutUs{
	
}

#aboutUs h1, #aboutUs h2{
	color: #000;
}

#aboutUs hr{
	background: #f38181;
	margin: 4% auto;
}

.wrap-content{
	margin-top: 5%;
	margin-bottom: 5%;
}

.wrap-content p{
	color: #b6b6b6;
	width: 	80%;
	margin: 0 auto;
}

/*#aboutUs figure{
	display: inline-block;
	background-image: linear-gradient(to top, #fce38a, #ffca7d, #ffb078, #fe987a, #f38181);
}*/

.about-image{
	width: 100%;
	display: inline-block;
	padding: 0 0;
}

.about-image::after{
	display: block;
    position: relative;
    background-image: linear-gradient(to top, #fce38a, #ffca7d, #ffb078, #fe987a, #f38181);
    width: 100%;
    content: '';
    height: 250px;
}

